
<h1>Books</h1>
<p>Title</p>
<%= @book.each do |book| %>
 <p>Body</p>
 <span><%= book.title %></span>
 <span><%= book.body %></span>
<% end %>

<h2>New book</h2>
<%= form_with model: @book, url: '/books',method: :post do |book| %>
  <p>Title</p>
  <%= book.text_field :title %>
  
  <p>Body</p>
  <%= book.text_area :body %>
  
  <%= book.submit 'Create Book' %>
<% end %>

