
<h1>Books</h1><!--閲覧部分-->
<p>Title</p>
<p>Body</p>
<% @books.each do |book| %>
 <span><%= book.title %></span>
 <span><%= book.body %></span>
 <%= link_to "Show", "/books/#{book.id}" %>
 <%= link_to "Edit", edit_book_path(@book.id) %>
 <a>Destroy</a>
<% end %>

<h2>New book</h2><!--投稿部分-->
<%= form_with model: @books, url: '/books',method: :post do |book| %>
  <p>Title</p>
  <%= book.text_field :title %>

  <p>Body</p>
  <%= book.text_area :body %>

  <%= book.submit 'Create Book' %>
<% end %>

