<div>
<%= flash[:notice] %>
</div>

 <h3>Title:</h3>
 <span><%= @book.title %></span>
 <h3>Body:</h3>
 <span><%= @book.body %></span>
 <%= link_to "Edit", edit_book_path(@book.id) %>
 <%= link_to "Back", books_path %> 
